
/*TODO: Arange this code better*/

.btn {
  background-color:black;
  width: 50%;
  font-size: 0.8em;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
  display: block;
  }

.errors {
  margin: 40px;
  margin-left: 35px;
  color: red;
  font-size: calc(2vh);
}

.form_header {
  margin: 50px;
}

.btn__content {background-color: #04edf5; font-size: 2em;}

.form_shape{
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border: 3px dashed #04edf5;
  outline: none;
  margin: auto;
  background-color: black;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: calc(1em + 1vw);
  text-transform: uppercase;
  color: #04edf5;
  clip-path: polygon(5% 0, 70% 0%, 80% 10%, 100% 10%, 100% 100%, 0 100%, 0 5%);
}

.fail {border: 3px dashed red !important; }

.form_content {
  display: block;
  width: calc(100% - 6px);
  height: calc(100% - 15vh - 3px);
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  color:black;
  text-align: center;
  background-color: #f9ea0b;
}

.form_content a { color: black; font-size: min(max(1rem, 4vw), 22px);}

input {
background-color:#04edf5;
width:100%;
height:100%;
padding: 0;
margin: 0;
display: block;
font-family: Tomorrow, sans-serif;
font-size: 0.8em;
text-align: center;
}

table { height: 70%; width:100%; padding: 0;}
tr { height:10vh; width:100%; padding: 0; }
table, td {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-collapse:collapse;
}

td {width: 50%; text-align: center; font-size: calc(1em + 1vw); }

@media only screen and ( max-width:700px ) {
  td { font-size: 24px; }
  .btn {width: 80%;}
  .form_content a { display: none; }
}

@media only screen and ( max-height:700px ) {
  .btn { min-height: 75px; margin-top: 4vh; }
  .errors { margin-left: 5px; }
  .form_content { height: calc(100% - 103px); }
  .form_content a { display: none; }
}

@media only screen and ( max-height:500px ) {
  .btn { min-height: 50px; margin-top: 2vh; }
  .errors { margin: 5px 5px 5px 10px; }
  .form_header { margin: 10px; font-size: 24px; }
  .form_shape {overflow: auto;}
  .form_content { height: calc(100% - 53px); }
}
