:root {
  --yellow-color: #a4ff65;
  --red-color: #35d739;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
  --white-color: #192b3b;
}

#parallax_3 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image:
  url(../MEDIA/landing_page/depth-1.png),
  url(../MEDIA/landing_page/depth-2.png),
  url(../MEDIA/landing_page/depth-3.png);
  background-repeat: repeat,no-repeat, no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-size: 110%, 110%, 110%;
}

p {
  font-family: Tomorrow, sans-serif;
  font-size: calc(0.5em + 1vw);
  line-height: 1;
  color: #7df9ff;
  padding: 10px;
}

img {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}


@media only screen and (max-width: 1550px) {
  #parallax {
    background-size: 120%;
  }
}

@media only screen and (max-width: 1400px) {
  #parallax {
    background-size: 130%;
  }
}

@media only screen and (max-width: 1250px) {
  #parallax {
    background-size: 140%;
  }
}

@media only screen and ( max-height:700px ) {
  .clock { display: none !important;}
}

@media only screen and (max-width: 500px) {
  p {
    font-size: calc(1em + 1vw);
    padding: 20px;
  }
}
