
/*TODO: Arange this code better*/

.btn {
  background-color:black;
  width: 50%;
  font-size: 0.8em;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: block;
  }

.errors {
  margin: 40px;
  margin-left: 35px;
  color: red;
  font-size: calc(2vh);
}

.form_header {
  margin: 40px;
}

.btn__content {background-color: #04edf5; }

.form_shape{
  display: block;
  width: 50%;
  min-height: 450px;
  overflow: hidden;
  border: 3px dashed #04edf5;
  outline: none;
  background-color: black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Tomorrow, sans-serif;
  font-size: calc(1em + 1vw);
  text-transform: uppercase;
  color: #04edf5;
  clip-path: polygon(5% 0, 70% 0%, 80% 10%, 100% 10%, 100% 100%, 0 100%, 0 5%);
}

.fail {border: 3px dashed red !important; }

.form_content {
  display: block;
  width:calc(100% - 6px);
  height: calc(100% - 103px);
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  color:black;
  font-size: calc(0.8em + 2vw);
  background-color: #f9ea0b;
}

input {
background-color:#04edf5;
width:100%;
height:100%;
padding: 0;
margin: 0;
display: block;
font-family: Tomorrow, sans-serif;
font-size: 0.8em;
text-align: center;
}

table, tr {width:100%; height:10vh; padding: 0;}

table, td {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-collapse:collapse;
}

td {width: 50%; text-align: center;}

@media only screen and ( max-width:950px ) {
  .form_shape {width: 70%; min-height: 400px; }
  .btn {margin-top: 5px;}
}

@media only screen and ( max-width:750px ) {
  .form_shape {width: 80%;}
}

@media only screen and ( max-height:700px ) {
  .btn { min-height: 75px; margin-top: 4vh; }
  .errors { margin-left: 5px; }
  .form_content { height: calc(100% - 103px); }
}

@media only screen and ( max-height:500px ) {
  .btn { min-height: 50px; margin-top: 2vh; }
  .errors { margin: 5px; }
  .form_header { margin: 10px; }
  .form_content { height: calc(100% - 53px); }
}

@media only screen and ( max-width:450px ) {
  .form_shape {width: 100%;}
}
