@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
*{box-sizing: border-box;}

input.cvs {
    -webkit-text-security: disc;
}

.red {color:red;}

html {
    position: relative;
    min-height: 100%;
}

body{
  margin: 0px;
  padding: 0px;
  height:100%;
  width:100%;
  background-color: #1d1e22;
  font-family: Tomorrow, sans-serif;
  line-height: 1;
  color: #7df9ff;
}

/* Custom header */
.header {
  background-image: url("../MEDIA/header.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  min-height: 20vh;
  width: 100%;
  display: block;
}

.menu {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  top: 5px;

}

.header img {
  width: 75%;
  height: auto;
  display: inline-block;
}

.header .menu  figure {
    display: inline-block;
    width: 24%;
    margin: 0;
    padding: 0;
}

.header .menu figure img {
    vertical-align: top;
    height: auto;
    width: 36%;
}

.header .menu figure figcaption {
    text-align: center;
}

figure a {
  text-decoration: none;
  color: #7df9ff;
}

.header figure a:hover {
  color: #c9fc00;
}

.hamburger {
  display: none;
  width: 100vh;
  height: auto;
}

.hamburger img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.hamburger .menu {
  overflow: hidden;
  max-height: 100vh;
  background-color: #666666;
  border-top: 10px dashed #ffff00;
}

.hamburger .menu img{
  width: calc(100vh/6);
}

.hamburger .menu figure{
  width: auto;
}
.profile-container {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px ridge #FAED27;
}

.profile-container img {
  width: 30%;
  float: left;
  background-color:
  white; margin: 10px;
}

.profile-container table, tr, td { border: none !important ; }

.profile-container .btn {width: 50px; }

.basket table tr,td,th { border: 1px solid white !important; text-align: center; padding: 10px;}
.basket table td, th {width: 25% !important;}


.search-bar {
  display: block;
  width: 100%;
  height: auto;
  height: auto;
  overflow: visible;
  clip-path: polygon(6% 0, 100% 0, 100% 80%, 97% 100%, 0 100%, 0 35%, 3% 35%);
  background-color: #FAED27;
  border: 8px solid black;
  font-size: 2em;
  text-align: center;
  padding: 10px;
}

.search-bar input { margin: auto; }
.search-bar input[type=submit] { width: 50%; margin: auto;}


/*This background works*/
.content {
  display: block;
  background-image: url(../MEDIA/content_back.jpg);
  height: auto;
  position: fixed;
  z-index: -1;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
}

/*Fix vertical scroll*/
.container-flow {
  overflow-x: hidden;
}

.clock {
  min-width: 20vw;
  height: auto;
  display: block;
  overflow: hidden;
  border-radius: 2px;
  border-left: 5px solid white;
  border-right: 5px solid white;
  position:fixed;
  left: 50%;
  margin-right: auto;
  margin-left: auto;
  transform: translate(-50%, 0);
  padding: 10px;
  font-family: Tomorrow, sans-serif;
  font-size: calc(1em + 1vw);
  text-align: right;
  line-height: 1;
  text-transform: uppercase;
  color: #c9fc00;
  background-color: rgba(87, 89, 93, 0.5);
}

.header .clock {
  min-width: 100%;
  right:0px; left:auto;
  transform: none;
  border: none;
  background: none;
  font-size: calc(1.2vw);
  position: absolute;
  right: 10px;
}

/* Responsible for the parallax background for every page except the landing page */
#parallax_2 {
  z-index: -2;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image:
  url(../MEDIA/landing_page/depth-1.png),
  url(../MEDIA/catalog_background.png);
  background-repeat: repeat, repeat;
  background-position: center;
  background-position: 50% 50%;
}


/* Responsibe for the special shaped buttons */
.btn {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  border: 0;
  margin: auto;
  outline: none;
  background-color: #bc084a;
  cursor: pointer;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: calc(1.5em + 1vw);
  line-height: 1;
  text-transform: uppercase;
  color: #bc084a;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #a4ff65;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn--secondary {
  background-color: #c0e52c;
}

.btn--secondary .btn__content {
  background-color: #581254;
  color: #c0e52c;
}

.btn__glitch {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow-color);
  filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
}

.btn--secondary .btn__glitch {
  background-color: var(--red-color);
}

.btn:hover .btn__glitch,
.btn:hover .btn__content::after,
.btn:focus .btn__glitch,
.btn:focus .btn__content::after {
  display: block;
  animation: glitch-animation 2s linear 0s infinite;
}

.dashboard {
  display: block;
  width: 100%;
  height: auto;
  margin-top:20px;
  color: black;
  border: 5px solid black;

}

.dashboard table {
  width: 100%;
  border: 10px solid #FAED27;
}

.dashboard table td {
  width: 50%;
}

.dashboard td table {
  background-color: rgba(125,249,255,0.8);
  border: none;
}

.dashboard .stock-alert {
  font-size: 1em;
  overflow-y:scroll;
  overflow-x:hidden;
}

.dashboard ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.dashboard ul li:before {
	content: "_>>";
	position: absolute;
	left: 0;
}

.table-container {
  width:100%;
  height:auto;
  max-height: 1000px;
  display:block;
  overflow:scroll;
  margin-top: 10px;
  margin-bottom: 50px;
}

.table-container a {
  text-decoration: none;
  color: #c9fc00 ;
  font-size: 0.8em;
}

.table-container a:hover {
  color: blue;
}

.table-sortable tbody{
  background: rgba(0, 0, 0, 0.7);
}

.table-sortable tbody td{
  border: 2px solid rgba(255,255,255, 0.5);
  padding: 5px;
}

.table-sortable th {
  cursor: pointer;
  color: #c9fc00;
  background-color: grey;
  text-align: center;
  font-size: 1.5em;
  padding: 5px;
  border: 2px solid black;
  min-width: 50px;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: #c9fc00;
  color: grey;
}

.form-container {
  display: block;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.7);
}

.form-container textarea {width: 100%; font-size: 0.8em; min-height: 100px;}

.description {
  display: block;
  width: 300px;
  height: 150px;
  overflow-y:scroll;
  overflow-x:hidden;
  background-color: white;
  color: black;
  font-size: 0.6em;
}

.notification {
  display: block;
  width: 100%;
  background-color: #C83F49;
  color: black;
  border:5px ridge red;
}

.product-wrapper {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255,255,255, 0.5);
  border: 5px solid #ff00c1;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-image {
  display: block;
  overflow: hidden;
  float: left;
  width: 35%;
  padding: 10px;
  clip-path: circle(50%);
}

.product-image img {
  width: 100%;
}

.product-text {
  display: block;
  color: black;
  float: left;
  width:  65%;
  padding: 10px;
}

.product-wrapper: after {
  content: "";
  display: table;
  clear: both;
}

input[type=file] {
  overflow: hidden;
}

/* Custom footer */
.footer {
  padding: 20px;
  overflow: visible;
  width: 100vw;
  min-height: 200px;
  background-color: black;
  text-align: center;
  clip-path: polygon(85% 0%, 0% 0%, 0% 35%, 10% 35%, 15% 5%, 25% 5%, 20% 36%, 0% 35%, 0% 70%, 0% 100%, 100% 100%, 100% 15%);
  margin-top: 75px;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width: 1000px) {
  .header { display: none; }
  .hamburger {display: block;}
  body {font-size: 1em;}
}

@media only screen and (max-width: 500px) {
  .profile-container {overflow-x:scroll;}
  body {font-size: 0.7em;}
  h1 {font-size: 1rem;}
  h2 {font-size: 0.9rem;}
  h3 {font-size: 1rem;}
}

@media only screen and (max-height: 800px) {
  .footer {position: relative;}
}

@media only screen and (max-height: 500px) {
  .header { display: none; }
  .hamburger {display: block;}
}

/* Custom glitch animation */
@keyframes glitch-animation {
  0% {
    opacity: 1;
    transform: translateZ(0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  6% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(5px);
  }

  8% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  9% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(0);
  }

  10% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translate3d(5px, 0, 0);
  }

  13% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translateZ(0);
  }

  13.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  15% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  20% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  20.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  25% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  30% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  30.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  35% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  40% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(5px);
  }

  45% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  50% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(0);
  }

  55% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  60% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translateZ(0);
    opacity: 1;
  }

  60.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}
